# Ejemplo de Regresión Logistica Multiple

Queremos estudiar la proporcion de niños que desarrollan bronquitis o pneumonia en su primer año de vida, por sexo y tipo de alimentación

In [9]:
#install.packages("faraway")
library(faraway)

summary(babyfood)
babyfood

    disease        nondisease      sex        food
 Min.   :16.00   Min.   :111.0   Boy :3   Bottle:2
 1st Qu.:22.00   1st Qu.:180.0   Girl:3   Breast:2
 Median :39.00   Median :358.5            Suppl :2
 Mean   :39.67   Mean   :306.0
 3rd Qu.:47.75   3rd Qu.:420.0
 Max.   :77.00   Max.   :447.0

  disease nondisease sex  food
1 77      381        Boy  Bottle
2 19      128        Boy  Suppl
3 47      447        Boy  Breast
4 48      336        Girl Bottle
5 16      111        Girl Suppl
6 31      433        Girl Breast

In [10]:
# vamos a modificar crear datos con 0 y 1 en la variable respuesta (Y)
y<-rep(c(1,0,1,0,1,0,1,0,1,0,1,0),c(77,381,19,128,47,447,48,336,16,111,31,433))
sexn<-rep(c("boy","girl"),c(1099,975))
foodn<-rep(c("bottle","supply","breast","bottle","supply","breast"),c(458,147,494,384,127,464))
datos<-data.frame(y,sexn,foodn)
 #vemos que los 77 primeros datos son iguales y el siguiente no
head(datos,78)

   y sexn foodn
1  1 boy  bottle
2  1 boy  bottle
3  1 boy  bottle
4  1 boy  bottle
5  1 boy  bottle
6  1 boy  bottle
7  1 boy  bottle
8  1 boy  bottle
9  1 boy  bottle
10 1 boy  bottle
11 1 boy  bottle
12 1 boy  bottle
13 1 boy  bottle
14 1 boy  bottle
15 1 boy  bottle
16 1 boy  bottle
17 1 boy  bottle
18 1 boy  bottle
19 1 boy  bottle
20 1 boy  bottle
21 1 boy  bottle
22 1 boy  bottle
23 1 boy  bottle
24 1 boy  bottle
25 1 boy  bottle
26 1 boy  bottle
27 1 boy  bottle
28 1 boy  bottle
29 1 boy  bottle
30 1 boy  bottle
⋮  ⋮ ⋮    ⋮
49 1 boy  bottle
50 1 boy  bottle
51 1 boy  bottle
52 1 boy  bottle
53 1 boy  bottle
54 1 boy  bottle
55 1 boy  bottle
56 1 boy  bottle
57 1 boy  bottle
58 1 boy  bottle
59 1 boy  bottle
60 1 boy  bottle
61 1 boy  bottle
62 1 boy  bottle
63 1 boy  bottle
64 1 boy  bottle
65 1 boy  bottle
66 1 boy  bottle
67 1 boy  bottle
68 1 boy  bottle
69 1 boy  bottle
70 1 boy  bottle
71 1 boy  bottle
72 1 boy  bottle
73 1 boy  bottle
74 1 boy  bottle
75 1 boy  bottle
76 1 boy  bottle
77 1 boy  bottle
78 0 boy  bottle

In [21]:
## Tabla de contingencia y los porcentajes por fila, por columna y total

xtabs(y~sexn +foodn, data=datos)
prop.table(xtabs(y~sexn +foodn, data=datos),1)
prop.table(xtabs(y~sexn +foodn, data=datos),2)
prop.table(xtabs(y~sexn +foodn, data=datos))

      foodn
sexn   bottle breast supply
  boy      77     47     19
  girl     48     31     16

      foodn
sexn      bottle    breast    supply
  boy  0.5384615 0.3286713 0.1328671
  girl 0.5052632 0.3263158 0.1684211

      foodn
sexn      bottle    breast    supply
  boy  0.6160000 0.6025641 0.5428571
  girl 0.3840000 0.3974359 0.4571429

      foodn
sexn       bottle     breast     supply
  boy  0.32352941 0.19747899 0.07983193
  girl 0.20168067 0.13025210 0.06722689

In [31]:
### Ajustamos el modelo completo
ml.1 <- glm( y ~ sexn + foodn, family=binomial, data=datos)
summary (ml.1)

Call:
glm(formula = y ~ sexn + foodn, family = binomial, data = datos)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.6030  -0.5218  -0.4409  -0.3795   2.3094

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept)  -1.6127     0.1124 -14.347  < 2e-16 ***
sexngirl     -0.3126     0.1410  -2.216   0.0267 *
foodnbreast  -0.6693     0.1530  -4.374 1.22e-05 ***
foodnsupply  -0.1725     0.2056  -0.839   0.4013
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1478.1  on 2073  degrees of freedom
Residual deviance: 1452.4  on 2070  degrees of freedom
AIC: 1460.4

Number of Fisher Scoring iterations: 5

In [25]:
# Ajustamos modelo solo con foodn
ml.2 <- glm( y ~  foodn, family=binomial, data=datos)
summary (ml.2)

Call:
glm(formula = y ~ foodn, family = binomial, data = datos)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.5669  -0.5669  -0.4121  -0.4121   2.2397

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept) -1.74676    0.09693 -18.022  < 2e-16 ***
foodnbreast -0.67645    0.15281  -4.427 9.57e-06 ***
foodnsupply -0.17435    0.20531  -0.849    0.396
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1478.1  on 2073  degrees of freedom
Residual deviance: 1457.4  on 2071  degrees of freedom
AIC: 1463.4

Number of Fisher Scoring iterations: 5

In [36]:
# Ajustamos modelo solo con sexn
ml.3 <- glm( y ~  sexn, family=binomial, data=datos)
summary (ml.3)

Call:
glm(formula = y ~ sexn, family = binomial, data = datos)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-0.5280  -0.5280  -0.4528  -0.4528   2.1580

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept) -1.89991    0.08966 -21.190   <2e-16 ***
sexngirl    -0.32613    0.14035  -2.324   0.0201 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1478.1  on 2073  degrees of freedom
Residual deviance: 1472.6  on 2072  degrees of freedom
AIC: 1476.6

Number of Fisher Scoring iterations: 4

In [28]:
# comparacion de modelos anidados usando ANOVA

anova(ml.1,ml.2, test="Chi")   
anova(ml.1,ml.3, test="Chi")
# en los dos casos nos quedamos con el grande (ml.1)

  Resid. Df Resid. Dev Df Deviance  Pr(>Chi)
1 2070      1452.449   NA        NA         NA
2 2071      1457.426   -1 -4.977057 0.02568564

  Resid. Df Resid. Dev Df Deviance  Pr(>Chi)
1 2070      1452.449   NA        NA           NA
2 2072      1472.626   -2 -20.17723 4.154992e-05

In [35]:
######crear la probabilidad de exito estimada por el modelo y dividir a los
###### individuos segun si es <0.1 o >0.1
datos$phat<-fitted(ml.1)
#datos$phat
datos$yhat<-ifelse (datos$phat < 0.1, 0, 1)
#datos$yhat

In [30]:
###tabla de clasificacion
Table <- xtabs(~y+yhat, data=datos)
Table

   yhat
y     0   1
  0 880 956
  1  78 160